header {
	text-align: center;
	font-family: "Lobster", cursive;
	color: rgb(80, 80, 80);
}

h1 {
	text-decoration: underline;
	border-radius:5px;
	width: 500px;
	margin: 20px auto;
	font-size: 3rem;
	color: rgb(255, 100, 100);
}

button {
	color: rgb(255, 100, 100);
	font-size: 2rem;
	margin: 10px 50px;
	width: 100px;
	height: 50px;
	border-radius: 50%;
	outline: none;
	border-color: rgb(255, 100, 100);
	background-color: rgb(245, 255, 239);
}

label {
	color: rgb(255, 100, 100);
}

input[type="radio"] {
	margin-left: 10px;
}

#container {
	background-color: rgb(245, 255, 239);
	display: grid;
	grid-gap: 1px;
	width: 500px;
	height: 500px;
	margin: 10px auto;
	border: 50px solid rgb(255, 50, 50);
	border-radius: 25px;
}

.cell {
	border: 1px solid rgb(242, 242, 242);
	border-radius:20%;
}